.form__container {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.form__title {
  color: rgb(var(--lightning-color4));
  margin-bottom: 2rem;
}

.form__title_sub {
  margin-top: 0.3rem;
  font-size: 1rem;
}

.form__section {
  position: relative;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.form__submitWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.form__helperWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  gap: 0.45rem;
}

.lockerIcon {
  display: block;
  float: left;
  margin-right: 0.4rem;
  width: 19px;
  height: 24px;
}
