/* .base {
  width: 100%;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: rgb(var(--lightning-color4));
  transition: background 150ms ease-out, color 150ms ease-out;
}

.base:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.primary {
  background-color: rgb(var(--lightning-color1));
}

.primary:hover:enabled {
  background-color: rgba(var(--lightning-color1), 0.6);
  color: rgb(var(--lightning-color4));
}

.primary:active:enabled {
  transition: none;
  background-color: rgba(var(--lightning-color2));
}

.submit {
  background-color: rgb(var(--lightning-color4));
  color: white;
}

.submit:hover:enabled {
  background-color: rgba(var(--lightning-color1), 0.6);
  color: rgb(var(--lightning-color4));
}

.submit:active:enabled {
  transition: none;
  background-color: rgba(var(--lightning-color2));
}

.secondery {
  background-color: rgba(var(--lightning-color4), 0.6);
  color: white;
}

.ghost {
  background-color: rgb(var(--lightning-color3));
}

.text {
  padding: 0;
  text-decoration: underline;
  background-color: inherit;
  color: rgb(var(--lightning-color4));
}

.text:hover:enabled {
  color: rgba(var(--lightning-color4), 0.5);
}

.google {
  position: relative;
  height: 40px;
  padding: 0;
  background: none;
  border-radius: 0;
  border: none;
}

/* .kakao {
  height: 40px;
  background-image: url('../../../../public/asset/images/kakao_login.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.naver {
  height: 40px;
  background-image: url('../../../../public/asset/images/naver_login.png');
  background-repeat: no-repeat;
  background-size: 100% 40px;
} */ */
