.base {
  width: 100%;
  outline: none;
  height: 36px;
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid rgb(var(--lightning-color5));
  transition: border 150ms linear;
}

.base:hover:enabled {
  border: 2px solid rgba(var(--lightning-color2));
}

.base:focus:enabled {
  transition: none;
  border: 2px solid rgba(var(--lightning-color1), 0.8);
}

.base:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
