.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  padding: 2rem 4rem;
  z-index: 200;
}

.authButton {
  background-color: white;
  background-color: rgb(var(--lightning-color4));
  color: white;
  border-radius: 15px;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tempCircle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: antiquewhite;
}
