@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightning-color1: 255, 231, 0;
  --lightning-color2: 255, 246, 164;
  --lightning-color3: 199, 199, 199;
  --lightning-color4: 11, 5, 30;
  --lightning-color5: 238, 238, 238;

  --lightning-background-color: rgba(var(--lightning-color5), 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--nanum-font);
}

#__next {
  width: 100%;
  height: 100%;
}

#__next > main {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
